.container{
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 80px;
}
button{
  cursor: pointer;
}
*:hover{
  outline: none;
}
.hidden{
  display: none;
}
.nav_pages button, .nav_panel button{
  background-color: transparent;
}
.nav_pages button, #profile, #back, #logout{
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #8A38F5;
}
.nav_pages{
  display: flex;
  gap: 30px;
  background-color: rgba(217, 217, 217, .1);
  padding: 10px 30px;
  border: #8A38F5 1px solid;
  border-radius: 100px;
}
#likes{
  -webkit-mask-image: url('./components/icons/likes.svg');
  mask-image: url('./components/icons/likes.svg');
}
#matches{
  -webkit-mask-image: url('./components/icons/friends.svg');
  mask-image: url('./components/icons/friends.svg');
}
#chat{
  -webkit-mask-image: url('./components/icons/chat.svg');
  mask-image: url('./components/icons/chat.svg');
}
#profile{
  -webkit-mask-image: url('./components/icons/profile.svg');
  mask-image: url('./components/icons/profile.svg');
}
#back{
  -webkit-mask-image: url('./components/icons/back.svg');
  mask-image: url('./components/icons/back.svg');
  mask-size: auto;
  mask-position: 5px;
}
#logout{
  -webkit-mask-image: url('./components/icons/Logout.svg');
  mask-image: url('./components/icons/Logout.svg');
  -webkit-mask-position-x: -5px;
  mask-size: auto;
}
.profile_button{
  border: 1px #8A38F5 solid;
  padding: 10px;
  border-radius: 100px;
}
.nav_panel{
  bottom: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-top: auto;
  align-items: center;
  align-self: center;
  gap: 30px;
  background-color: #000;
  border-radius: 50px;
  padding: 5px;
  border: #8A38F5 1px solid;
}
.logo{
  height: 40px;
}
.nullCard{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#diamond{
  scale: 0.1;
}
.stick, .diamond{
  stroke: #fff;
  stroke-width: 2;
}
@media (max-width: 768px) {
  .nav_panel {
    scale: 0.6;
  }
  .card {
    scale: 0.8;
  }
}